/node_modules
/dist
/static/*
/doc2
!/static/static_files_here.file
!/static/MovieDimensions.yaml
!/static/fonts/
!/static/images
!/static/data
/mongoBackups
/_AE
.vscode

/database/data/*
!/database/data/.gitignore
/database/logs/*
!/database/logs/.gitignore
/database/dump/*
!/database/dump/.gitignore
